body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container, .db-operations-container, .auth-buttons {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px; 
}

#timer {
    font-size: 48px;
    margin: 20px 0; 
    color: #333;
}

#pomodoroControls {
    margin-top: 20px; 
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button, input[type="submit"] {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0;
}

button:hover, input[type="submit"]:hover {
    background-color: darkblue;
}

.pomodoro-settings {
    text-align: left;
    margin-top: 20px;
}

.pomodoro-settings h2 {
    margin-bottom: 10px;
}

.notes-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 5px 0;
}

#notesForm {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#notesTextArea {
    width: 60%; /* Adjust as needed */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px; /* Add some spacing between the textarea and the table */
}

/* Style the table */
table {
    border-collapse: collapse;
    width: 40%; /* Adjust as needed */
    border: 1px solid #ddd;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style table headers */
table th {
    background-color: #f2f2f2;
}

/* Style table rows */
table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style table row links */
table a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px; /* Add some spacing between the links */
}

/* Style table row links on hover */
table a:hover {
    text-decoration: underline;
}